.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  /* Glass Effect */
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.fc-box {
  background: black;
  color: white;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}

.login {
  font-size: 14px;
  opacity: 0.9;
  cursor: pointer;
}
