.section {
  height: 100vh;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}

/* Fullscreen background image slide */
.bg-slide {
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

.bg-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
/* Scroll snap effect */
html {
  scroll-snap-type: y mandatory;
}
